.nav{
    z-index: 100;
    width: 100vw;
    position: sticky;
    height: 13vh;
    background-color: #0E67B4;
    display: flex;
    justify-content: space-around;
    border-radius: 0px 0px 20px 20px;
}
.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.nav__logo img{
    width:80px;
    border-radius: 15px;
   /* margin: 20px; */
   
   margin-top: 8px;
    margin-left: 100px;
    /* margin-bottom: -20px; */
}
.nav__menu{
    margin-top: 15px;
}

.nav__menu ul{
    display: flex;
    list-style: none;
}
.nav__menu ul li a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 30px 10px 30px;
}
.signup-btn{
    background-color: #F79B26;
    font-weight: 700;
    margin-top: -5px;
    margin-left: 20px;
    padding: 5px;
    border-radius: 20px;
}