*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   overflow-x: hidden;
}
/* ------------------------- NAV-MENU ---------------------------- */
.nav{
    z-index: 100;
    width: 100vw;
    position: sticky;
    height: 10vh;
    background-color: #00000000;
    display: flex;
    justify-content: start;
    border-bottom: 0.5px solid rgba(209, 209, 209, 0.678);
    
}
.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.nav__logo img{
   width: 6rem;
   margin: 25px 0 20px 60px;
}
.nav__menu{
    margin: 25px 0 0 300px;
}

.nav__menu ul{
    display: flex;
    list-style: none;
}
.nav__menu ul li a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.15rem;
    padding: 5px 30px;
    letter-spacing: 1.2px;
}
.nav__menu ul li{
    overflow: hidden;
}

/* -------------- HERO ------------- */
.hero1{
    margin-top: -10vh;
    height: 100vh;
    background: linear-gradient(45deg, rgba(35, 28, 77, 0.95), rgba(19, 19, 19, 0.99)),url('./bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:start;
    
}
 
.text_hero1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 52%;
    height: 100vh;
    color: aliceblue;
    margin-left: 10rem;
    /* border: 10px solid black; */
}
.text_hero1 > h1{
    font-size: 3.8rem;
    font-weight: 900;
}
.text_hero1 > p{
    margin-top: 30px;
    font-weight: 100;
    font-size: 0.9rem;
}
.text_hero1 button{
    margin-top: 60px;
    width: 150px;
    padding: 10px 20px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid white;
    border-radius: 10px;
}
.text_hero1 a{
    text-decoration: none;
    color: white;
}
.image_hero1{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh; 
    /* border: 10px solid rgb(240, 12, 12); */
    /* position: absolute; */
}
.image_hero1 > .iphone{
    margin-left: 5rem;
    height: fit-content;
    width: 10rem;
}

/* ------------------- INFO SECTION ------------------ */
.info{
    height: 90vh;
    display: flex; 
    justify-content: space-evenly;
}
.text_info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 30px;
}

.text_info > h2{
    margin: auto;
    font-size: 3rem;
}
.text_info > ul{
    margin-bottom: 50px;
    list-style-image: url('./icon24.png');
    list-style-position: inside;
}
.text_info > ul > li{
    /* margin: 20px; */
    list-style: none;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 12px;
    background-color: rgba(218, 218, 218, 0.4);
}

.image_info > img{
    width: 23rem;
    margin-top: 180px;
    border-radius: 20px;
    scale: 1.5;
}
.animate {
    animation-duration: 1s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
  
  @keyframes animate-fade {
    0% { 
        opacity: 0;
        transform: translateY(50px);
     }
    100% { opacity: 1;
        transform: translateY(0);
    }
  }

  .hidden{
    opacity: 0;
    transition: all 1s linear;
    transition-delay: 1s;
  }
  .show{
    opacity: 1;
  }
.section3{
    display: flex;
    justify-content: center;
    height: 80vh;
    background-image: url("./img/pexels-fox-1595385.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text_sec3{
    padding-top: 15rem;
    padding-left: 4rem;
    padding-right: 8rem;
    width: 50%;
    text-align: center;
    color: aliceblue;
}
.text_sec3 p{
    text-align: justify;
}
.img2_sec3{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
}
.img2_sec3 > .ms{
    margin-top: 200px;
}
.mac{
filter: invert(1);
}
.img2_sec3 > .ios{
    margin-top: 200px;
}
.img2_sec3 img{
    width: 128px;
    height: fit-content;
}
