*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
/* ------------------------- NAV-MENU ---------------------------- */
.nav{
    z-index: 100;
    width: 100vw;
    position: sticky;
    height: 10vh;
    background-color: #00000000;
    display: flex;
    justify-content: start;
}
.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.nav__logo img{
   width: 6rem;
   margin: 25px 0 20px 60px;
}
.nav__menu{
    margin: 25px 0 0 300px;
}

.nav__menu ul{
    display: flex;
    list-style: none;
}
.nav__menu ul li a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.15rem;
    padding: 10px 30px 10px 30px;
    letter-spacing: 1.2px;
}

/* -------------- HERO ------------- */
.hero1{
    margin-top: -10vh;
    height: 100vh;
    background: linear-gradient(45deg, rgba(35, 28, 77, 0.95), rgba(19, 19, 19, 0.99)),url('./bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:start;
    
}
 
.text_hero1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 52%;
    height: 100vh;
    color: aliceblue;
    margin-left: 10rem;
    /* border: 10px solid black; */
}
.text_hero1 > h1{
    font-size: 3.8rem;
    font-weight: 900;
}
.text_hero1 > p{
    margin-top: 30px;
    font-weight: 100;
    font-size: 0.9rem;
}
.image_hero1{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh; 
    /* border: 10px solid rgb(240, 12, 12); */
    /* position: absolute; */
}
.image_hero1 > .iphone{
    margin-left: 5rem;
    height: fit-content;
    width: 10rem;
}

/* ------------------- INFO SECTION ------------------ */
.info{
    height: 90vh;
    display: flex; 
    justify-content: space-evenly;
}
.text_info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 30px;
}

.text_info > h2{
    margin: auto;
    font-size: 3rem;
}
.text_info > ul{
    margin-bottom: 50px;
    list-style-image: url('./icon24.png');
    list-style-position: inside;
}
.text_info > ul > li{
    /* margin: 20px; */
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 12px;
    background-color: rgba(218, 218, 218, 0.4);
}

.image_info > img{
    width: 23rem;
    margin-top: 180px;
    border-radius: 20px;
    scale: 1.5;
}
.animate {
    animation-duration: 1s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
  
  @keyframes animate-fade {
    0% { 
        opacity: 0;
        transform: translateY(50px);
     }
    100% { opacity: 1;
        transform: translateY(0);
    }
  }

